
        <form  fxLayoutAlign="stretch" fxLayout="column" (submit)="iadatele($event)">
            <mat-form-field>
                <input matInput placeholder="username">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput type="password" placeholder="password">
            </mat-form-field>
            <mat-form-field>
                <input matInput  placeholder="grup">
            </mat-form-field>
            <button >data</button>
        </form>
      

   