
        <form  fxLayoutAlign="stretch" fxLayout="column" (submit)="introduConcediul($event)">
            
            
            <mat-form-field>
                <input matInput  placeholder="Nume">
            </mat-form-field>
            <mat-form-field>
                <input matInput  placeholder="Data inceput">
            </mat-form-field>
            <mat-form-field>
                <input matInput  placeholder="Data final">
            </mat-form-field>
            <mat-form-field>
                <input matInput  placeholder="grup">
            </mat-form-field>
            <button >Introdu concediul</button>
        </form>
      

   