.image{
    height:100%; background-size:cover; width:auto;
    background-image:url("/assets/plaja.jfif");
    background-position:auto;
    
  }
  .mesaj-eroare{
      background-color: #a94442;
      border: 1px solid #a94442; 
  }