.inventory-body {
    position: fixed;
    min-width: 100%;
    background-image: url("/assets/plaja.jfif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    }
    
    .culoare{
        background-color: red;
    }
    section {
        display: table;
      }
      
      .example-label {
        display: table-cell;
        font-size: 14px;
        margin-left: 8px;
        min-width: 120px;
      }
      .mat-delete{
        background-color: red;
        color: #fff;
      }
      .example-button-row {
        display: table-cell;
        width: 490px;
      }
      
      .example-button-row .mat-button-base {
        margin: 8px 8px 8px 0;
      }
      
      .example-flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .example-button-container {
        display: flex;
        justify-content: center;
        width: 120px;
      }
      .mat-card-align{
        text-align: center;
      }
      .divider{
        width:5px;
        height:auto;
        display:inline-block;
    }
      .main-div{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
        width: 100%;
        justify-content: 50%;
        align-items: center;
      }
      .mat-button-adauga{
         
          background-color: lawngreen;
      }
      .title-right {
        flex: 1 1 auto;
  text-align: right;
      }